<div class="container">
    <h1>add default information</h1>
    <div class="col-xs-12">
        <div class="row">
            <h2>add student</h2>
            <form class="form-group" action="add-student-info" method="post">
                <div class="form-group">
                    <label for="student_email">Email address</label>
                    <input type="email" name="email" class="form-control" id="student_email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="student_password">Password</label>
                    <input type="password" name="password" class="form-control" id="student_password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="cwid">CWID</label>
                    <input type="text" name="CWID" class="form-control" id="cwid" placeholder="CWID">
                </div>
                <div class="form-group">
                    <label for="f_name">First name</label>
                    <input type="text"  name="f_name" class="form-control" id="f_name" placeholder="first name">
                </div>
                <div class="form-group">
                    <label for="l_name">Last name</label>
                    <input type="text" name="l_name" class="form-control" id="l_name" placeholder="last name">
                </div>
                <div class="form-group">
                    <label for="student_birthday">Student birthday</label>
                    <input type="text"  name="birthday" class="form-control" id="student_birthday" placeholder="ex:2000-01-01">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>

            <div class="divider"></div>

            <!--<h2>add Departemnt</h2>-->
            <!--<form>-->
                <!--<div class="form-group">-->
                    <!--<label for="exampleInputEmail1">Email address</label>-->
                    <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="exampleInputPassword1">Password</label>-->
                    <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="exampleInputFile">File input</label>-->
                    <!--<input type="file" id="exampleInputFile">-->
                    <!--<p class="help-block">Example block-level help text here.</p>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox"> Check me out-->
                    <!--</label>-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <!--</form>-->

        </div>
    </div>

</div>
