<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script type="text/javascript" src="/javascripts/jquery-1.10.1.min.js"></script>  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Book Tracking App</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="/users/login">Login In</a></li>
                      <li><a href="/requirement">Requirement Documentation</a></li>
                  </ul>
              </div>
          </div>
  </nav>
    {{{body}}}
  </body>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</html>
