<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>登陆</div>
    {{{body}}}
  </body>
</html>
