<style>

</style>
<div class="container">
    <div class="row">
        <h1 style="text-align: center" class="btn-custom">{{title}}</h1>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="http://www.kaoala.com/static/kao_home_v2/img/exe_index_1.png" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="http://www.kaoala.com/static/kao_home_v2/img/exe_index_1.png" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
