<style>
    .thumbnail{
        text-align:center;
    }
    .test{
        max-width: 500px;
        height: 300px !important;
    }
</style>
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li class="active">Teacher Home</li>
        </ol>
        <h1 style="text-align: center" class="btn-custom">Teacher Menu</h1>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img class=test src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRTslxn-iZc2oKTgLDs0P7WsqSUU1p-pp_tspw7x-dsOchUKZLSA" width="500"  height="100"  alt="...">
                        <div class="caption">
                            <h3>View Books</h3>
                            <p><a href="/teacher/{{sid}}/check-out" class="btn btn-primary" role="button">View Books！</a> </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img class=test src="http://liuxue.xhd.cn/d/file/meiguo/gaozhong/20160602/cbf84135477ff5a0775b6c58d3140247.jpg" width="500" height="150" alt="...">
                        <div class="caption">
                            <h3>Register Class</h3>
                            <p><a href="/teacher/{{sid}}/register" class="btn btn-primary" role="button">Register Now!</a> </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
