<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
<div class="container">
    <div class="book-list">
        <h2>Register</h2>
        <table id="class_table" class="display" width="100%">
            <thead>
            <th>CourseName</th>
            <th>Department</th>
            <th>CourseNumber</th>
            <th>Books</th>
            <th>Register</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
<script>
    var test = [{ CourseName: 'Machine Learning',
        Department: '0143031171',
        Title: 'English',
        Authors: [ 'Jeet Thayil' ],
        Publisher: 'Penguin Books India',
        PublishedDate: '2003',
        Description: 'The Narrator In These Poems Abandons The Sectarian Histories Of 1990S Bombay For The Relative Calm Of New York, Only To Find Himself A Witness To September 11, 2001. In The Faux Prologue Poem About The Author , He Stands On Sixth, Watching Ruin, With A Handful Of Rain And A Prophecy , A Citizen Of No Country Except The Republic That Gives The Book Its Title. English Here Is More Than Language It Is A Metaphor For Divinity, And It Holds A Hard-Won Tenderness For All Things Living. Jeet Thayil S Second Full-Length Collection Links Images Of Water, Addiction And Forgiveness; Poems That Evoke Multiple Outsider Perspectives Are Set In Landscapes As Various As Hong Kong, Doune (Scotland), Pashupatinath (Nepal), Bombay, And, Always, New York City.',
        Categories: [ 'English poetry' ],
        TotalChecked: 0,
        TotalAvailable: 10,
        image: 'http://books.google.com/books/content?id=tFzZwjkzNREC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api' }];
    $(document).ready(function() {
        var table = $('#book_table').DataTable( {
            "data": test,
            "columns": [
                { "data": "CourseName" },
                { "data": "Department" },
                { "data": "CourseNumber"},
                { "data": "Books" },
                {
                    "orderable":false,
                    "data": "ISBN"
                }
            ],
            "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        return "<button ISBN='"+data+"' class='btn btn-warning check-out'>Register</button>";
                    },
                    "targets": 8
                },
                {
                    "render": function ( data, type, row ) {
                        return '<img src="'+data+'">';
                    },
                    "targets": 7
                },
                {
                    "render": function ( data, type, row ) {
                        return data || "No description";
                    },
                    "targets": 3
                },
                {
                    "render": function ( data, type, row ) {
                        return data || "No description";
                    },
                    "targets": 5
                },
                {
                    "render": function ( data, type, row ) {
                        return data || "Not Category";
                    },
                    "targets": 6
                }
            ]
        } );


//                function findBook(bookList,id) {
//                    for(var i in bookList){
//                        if(bookList[i].ISBN == id){
//                            return bookList[i];
//                        }
//                    }
//                }




    });

</script>
