<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
<div class="container">
    <div class="book-list">
        <ol class="breadcrumb">
            <li><a href="/staff/{{sid}}">Staff Home</a></li>
            <li class="active">Book List and Check Out</li>
        </ol>
        <div>Please Input UserID</div>
        <label for="access_level"></label><input id="access_level" value=""/>
        <button id="search" class="btn btn-default btn-lg">Search</button><button id="search" class="btn btn-primary btn-lg">Show All</button>
        <table id="user_table" class="display" width="100%">
            <thead>
            <tr>
                <th>UserID</th>
                <th>IMG</th>
                <th>Access Level</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
<script>
</script>
