
body {
  padding: 0;
  font-size: 14px;
  font-family: hong;
  margin: 0;
  font-weight: normal;
}

a {
  color: #00B7FF;
}
.index{
  margin-top: 50px;
}
.index .jumbotron > h1{
  margin-bottom: 40px;
}
.index .jumbotron > p{
  margin-bottom: 30px;
}
/** login page **/
.form-vertical{
  margin: 0 auto;
  text-align: center;
  width: 75%;
}
.form-vertical > h2{
  font-size: 35px;
  color: #000;
  line-height: 35px;
  text-transform: uppercase;
}
.form-vertical p{
  font-size: 14px;
  color: #adadad;
  margin: 0 0 25px 0;
}
.form-vertical > form{
  display: table;
  margin: 0 auto;
  width: 100%;
}
.input-box{
  margin: 15px auto;
  width: 100%;
  max-width: 300px;
}
.input-box > label{
  float: left;
  font-size: 14px;
  text-align: left !important;
  width: 100%;
}
.input-box > input,.input-box > select{
  background: #f4f4f4;
  padding: 5px;
  height: 35px;
  border: 0 none;
  border-radius: 0;
  margin: 0;
  width: 100%;
}
.btn-full {
  background: rgba(0, 0, 0, 0);
  border: 2px solid #000000;
  border-radius: 0;
  color: #000;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.divider{
  width: 100%;
  position: relative;
  border: 1px dimgrey dashed;
  left: 0;
  float: left;
  margin: 20px 0px;
}
.vertical-divider{
  height: 100%;
  position: fixed;
  left: 50%;
  border: 1px dimgrey dashed;
  top: 0;
}
/** table style **/
.sub-table{
  text-align: left;
}
.sub-table td:first-child{
  padding-left: 0px;
}
.sub-table td{
  padding-left: 10px;
}
td.details-control {
  background: url('../images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../images/details_close.png') no-repeat center center;
}
.sub-table-book{
  text-align: left;
}
.sub-table-book td{
  padding-left: 10px;
}
.sub-table-book th{
  padding-left: 10px;
}
/** tab **/
.nav-tabs{
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

@media (max-width: 768px ) {
  .vertical-divider{
    width: 100%;
    position: relative;
    border: 1px dimgrey dashed;
    left: 0;
    float: left;
  }
}
h6{text-align:center;}