body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.index{
  margin-top: 50px;
}
.index .jumbotron > h1{
  margin-bottom: 40px;
}
.index .jumbotron > p{
  margin-bottom: 30px;
}